.container
{
    height:100vh;
    width:100vw;
}
.card {
   
    border:1px solid white;
    border-radius: 2.5rem;
    top:9rem;
	position: absolute;
    font-size:1rem; 

}

.bg-blue
{
    background: #099CFF ;
}

@media screen and (min-width:320px)
{
    .card {
        top:9rem; 
        width:88vw; 
    }      
}

@media screen and (min-width:360px)
{
    .card {
        top:13rem;
       
    }  
    
} 
@media screen and (min-width:375px)
{
    .card {
        top:13rem;
        width:90vw;
    }  
    
} 
@media screen and (min-width:393px)
{
    .card {
        top:15rem;
        width:90vw;
    }  
    
} 