 .h4 {
    margin-top: 0;
    margin-bottom: 0rem;
    font-weight: 500;
    line-height: 1.2;
} 
/* span.amount { 
  display:inline-block;
  width:5.2rem;
  word-wrap:break-word;
} */
@media  screen and (max-width:280px)  {
    .h4{
        font-size:1.2rem;
        padding:0.5rem 0.4rem;
    }
    .scrollbar {
        max-height: 32vh;
        background: #fff;
        overflow-y: auto;
        overflow-x: hidden;
        }
    .list-group-item {
        position: relative;
        display: block;
        padding: 0.5rem 0.3rem;  
        color: #212529;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.125);
    }
.foodName
{
    font-size:1rem;
    font-weight:500;
    color:#313848;
    padding-left:0.9rem;
    
}
.orderDate
{   color:#313848;
    font-size:0.8rem;
    padding-left:0.9rem;
    font-weight:400;
}
.amount
{
  font-size:1.2rem;
   color:#313848;
  font-weight:400;
 
}
   
    footer.px-4 {
      padding-right: 0.4rem !important;
      padding-left: 0.4rem !important;
    }
    }
@media  screen and (min-width:320px)  {
    .scrollbar {
      max-height: 22vh;
      background: #fff;
      overflow-y: auto;
      overflow-x: hidden;
      }
      
     
     
  }
  
  @media  screen and (min-width:360px)  {
    .scrollbar {
      max-height: 31vh;
      background: #fff;
      overflow-y: auto;
      overflow-x: hidden;
      }
     
  }
  
  
  
  @media  screen and (min-width:375px) {
    .scrollbar {
      max-height: 33vh;
      background: #fff;
      overflow-y: auto;
      overflow-x: hidden;
      }
    }
      @media  screen and (min-width:411px) {
        .scrollbar {
          max-height: 39vh;
          background: #fff;
          overflow-y: auto;
          overflow-x: hidden;
          }
         
      } 
  
      @media  screen and (min-width:563px) and (min-height:845px) {
        .scrollbar {
          max-height: 38vh;
          background: #fff;
          overflow-y: auto;
          overflow-x: hidden;
          }
         
      } 
      @media  screen and (min-width:1024px) {
        .scrollbar {
          max-height: 25vh;
          background: #fff;
          overflow-y: auto;
          overflow-x: hidden;
          }
         
      } 
  
      @media  screen and (min-width:1280px) {
        .scrollbar {
          max-height: 43vh;
          background: #fff;
          overflow-y: auto;
          overflow-x: hidden;
          }
         
      } 
     
  
    
  
  @media  screen and (min-height:812px) {
    .scrollbar {
      max-height: 45vh;
      background: #fff;
      overflow-y: auto;
      overflow-x: hidden;
      }
    }
  
  @media  screen and (min-height:823px) {
    .scrollbar {
      max-height: 45vh;
      background: #fff;
      overflow-y: auto;
      overflow-x: hidden;
      }
    }
  
    @media  screen and (min-height:1024px) {
      .scrollbar {
        max-height: 56vh;
        background: #fff;
        overflow-y: auto;
        overflow-x: hidden;
        }
       
    } 
  
    