.card {
    position: absolute;
    top:16rem;
    border:1px solid white;
    border-radius: 2.3rem;
    font-size:1rem;  
    
}
@media screen and (min-width:320px)
{
    .card {
    top: 8rem;
    margin:0.7rem;
    
    }
  
     
}
     @media screen and (min-width:414px)
    {
        .card {
        top: 14rem;
        
    }
}

    @media screen and (min-width:360px)
    {
        .card {
        top: 12rem;     
    }
}
/*
@media screen and (min-width:393px)
{
    .card {
    top: 14rem;
  
   
}
}*/
@media screen and (min-width:412px) 
{
    .card {
        top: 14rem;
        padding:2rem;
          
    }
}

     
